*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/src/debug/res/values/
app/src/release/res/values/
app/src/main/java/com/teojincheng/walkingapp/IndividualWalkActivity.java
.externalNativeBuild
